/* site color palette v0 */

$black: #000;
$white: #fff;

$main-gray: #333;
$secondary-gray: #262626;
$darkgray: #6e675f;
$lightgray: #888077;

$main-lightblue: #ccebff;
$secondary-lightblue: #33adff;

$brightlime: #0df20d;
$lime: #009900;
$darkgreen: #060;

$link-color: $secondary-lightblue;
$text-color: $main-lightblue;
$secondary-text-color: $white;
