/* site color palette v0 */

$black: #000;
$white: #fff;

$gray-300: #888077;
$gray-500: #6e675f;
$gray-700: #333;
$gray-800: #262626;

$main-lightblue: #ccebff;
$secondary-lightblue: #33adff;

$brightlime: #0df20d;
$lime: #009900;
$darkgreen: #060;

$link-color: $secondary-lightblue;
$text-color: $main-lightblue;
$heading-text-color: $white;
$secondary-text-color: $white;
