/* Fonts */
@import 'https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Ubuntu:wght@500&display=swap';

$heading-font-family-fallback: Consolas, monospace;
$heading-font-family: "Space Mono", $heading-font-family-fallback;

$site-font-family-fallback: "Trebuchet MS", sans-serif;
$site-font-family: Ubuntu, $site-font-family-fallback;
