/* Styles/mixins for buttons */

%btn {
  display: inline-block;
  border-radius: 10px;
  background-color: $white;
  transition: all 0.2s;
  box-shadow: $primary-shadow;
  font-family: inherit;

  &:hover {
    background-color: darken($white, 15%);
  }
}

.submitBtn {
  /* customized from https://uiverse.io/detail/adamgiebl/smart-moth-68 */
  @extend %btn;
  background-color: $oxfordblue-800;
  color: $white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  font-size: $mobile-md-font-size;

  @media screen and (min-width: $tablet-starts) {
    font-size: $sm-font-size;
  }

  &:hover {
    background-color: $airblue-600;

    .svg-wrapper {
      animation: fly-1 0.6s ease-in-out infinite alternate;
    }

    svg {
      transform: translateX(1.2em) rotate(45deg) scale(1.1);
    }

    span {
      transform: translateX(5em);
    }
  }

  span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  &:active {
    transform: scale(0.95);
  }

  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }

    to {
      transform: translateY(-0.1em);
    }
  }
}
