$white: #fff;
$black: #000;

$primary-color: #004b66;
$secondary-color: #ff9933;

/* Gray */
$gray-150: #dcd9d6;
$gray-250: #c0c0c0;
$gray-400: #a09992; /* navlink active */
$gray-700: #524d47; /* navlink hover */
$gray-800: #333333; /* navbar/footer bg */

$slategray-150: #d3ded9;
$slategray-200: #c7d1ce;
$slategray-400: #999999;
$slategray-650: #495b69;

$ashgray-300: #aabbb4;

/* Blue */
$blue-100: #cce6ff;
$blue-200: #99ceff;
$blue-250: #80bfff; /* footer line break */
$blue-800: #003366;

$pacificblue-500: #49a6b6;
$pacificblue-800: $primary-color;

$navy-900: #151a1e;

$airblue-200: #adebeb;
$airblue-400: #7da0bd;
$airblue-600: #0077cc;

$oxfordblue-800: #003c66;

/* Indigo */
$indigo-850: #212738;

/* Orange */
$orange-200: #ffcc99;
$orange-400: $secondary-color;
$orange-450: #ff8c1a;

$yelloworange-400: #ffb833;

/* Turquoise */
$turquoise-700: #1c7d7d;
$turquoise-750: #186868;
$turquoise-800: #1d4249;

/* Violet */
$violet-150: #d4b3ff;

/* Goldenrod */
$goldenrod-200: #ffdd99;
$goldenrod-600: #cca300;
$goldenrod-750: #806000;

/* Pink */
$pastelpink-200: #ff99e6;
$pastelpink-250: #f1978e;

$metallicpink-200: #ddbbbc;

/* Red */
$red-250: #f18e8e;
$red-750: #800000;

/* Other/special */
$eggplant-600: #785469;
$mint-100: #d9f2d9;
