/* site is mobile first
 * mobile design/layout is coded first
 */

/* media queries */
$xl-desktop-starts: 1440px;
$lg-desktop-starts: 1280px;
$sm-desktop-starts: 1023px;
$lg-tablet-starts: 820px;
$tablet-starts: 767px;
$lg-mobile-starts: 590px;

/* margin */
$img-default-margin: 0.7rem;

/* main nav dimensions */
$lg-desktop-nav-height: 3.75rem;
$sm-desktop-nav-height: 3.65rem;
$tablet-nav-height: 3.55rem;
$mobile-nav-height: 3.5rem;

/* footer height */
$footer-height: 100px;

/* z-index */
$send-to-back: -1;
$bottom-layer: 100;
$middle-layer: 200;
$top-layer: 300;
$bring-to-front: 9999;
