/* font sizes and line heights */
$mobile-base-font-size: 100%; /* usually 16px */
$base-font-size: 1rem; /* for tablet and desktop, 18px */
$site-line-height: 1.75;
$heading-line-height: 1.2;

/* mobile typescale based on major second scale (base of 100%)
 * see/try it on type-scale.com
 */
$mobile-xxl-font-size: 1.802rem; /* 28.83px */
$mobile-xl-font-size: 1.602rem;
$mobile-lg-font-size: 1.424rem;
$mobile-md-font-size: 1.266rem;
$mobile-sm-font-size: 1.125rem; /* 18.00px */

/* tablet and desktop typescale based on perfect fourth */
$xxl-font-size: 3.052rem; /* 54.93px */
$xl-font-size: 2.441rem;
$lg-font-size: 1.953rem;
$md-font-size: 1.563rem;
$sm-font-size: 1.25rem; /* 22.50px */

$small-text: 1.15rem;
$xs-text: 0.9rem; /* 16px */
