@import './colors';
@import './layout';
@import './typography';
@import './shadows';
@import './buttons';

.footer {
  display: flex;
  flex-direction: column;
  background-color: $gray-800;
  color: $white;
  width: 100vw;
  height: $sm-mobile-footer-height;
  padding: 1.2rem;
  font-size: $mobile-sm-font-size;
  text-align: center;
  z-index: $bring-to-front;

  @media screen and (min-width: $md-mobile-starts) {
    height: $footer-height;
  }

  @media screen and (min-width: $tablet-starts) {
    font-size: $small-text;
    padding: 1.3rem;
  }
}

%flexDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  background-color: $blue-250;
  height: 1px;
  width: 50%;
  margin: auto;

  @media screen and (min-width: $tablet-starts) {
    width: 35%;
  }

  @media screen and (min-width: $sm-desktop-starts) {
    width: 25%;
  }
}

.socials {
  @extend %flexDiv;

  a {
    display: flex;
    align-items: center;
    transition: color 0.25s;

    &:hover {
      color: $blue-100;
    }
  }
}
