@import './colors';
@import './layout';
@import './typography';
@import './shadows';
@import './buttons';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Ubuntu&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', 'Trebuchet MS', 'Segoe UI', Oxygen, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: $black;
  font-size: $mobile-base-font-size;
  height: 100%;
  
  @media screen and (min-width: $tablet-starts) {
    font-size: $base-font-size;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: $mobile-nav-height;
  padding-bottom: $footer-height;
  overflow: hidden;

  @media screen and (min-width: $tablet-starts) {
    padding-top: $tablet-nav-height;
  }

  @media screen and (min-width: $sm-desktop-starts) {
    padding-top: $sm-desktop-nav-height;
  }

  @media screen and (min-width: $lg-desktop-starts) {
    padding-top: $lg-desktop-nav-height;
  }
}

.underlineDeco {
  height: 7px;
  width: 180px;
  margin: auto;

  @media screen and (min-width: $tablet-starts) {
    width: 220px;
    height: 7.5px;
  }

  @media screen and (min-width: $sm-desktop-starts) {
    width: 300px;
    height: 8px
  }
}

.white {
  background-color: $white;
}

.turquoise {
  background-color: $turquoise-750;
}

.pink {
  background-color: $pastelpink-250;
}

.eggplant {
  background-color: $eggplant-600;
}

.navy {
  background-color: $blue-800;
}
