/* Gray */
/* navlink active */
/* navlink hover */
/* navbar/footer bg */
/* Blue */
/* footer line break */
/* Indigo */
/* Orange */
/* Turquoise */
/* Violet */
/* Goldenrod */
/* Pink */
/* Red */
/* Other/special */
/* site is mobile first
 * mobile design/layout is coded first
 */
/* media queries */
/* margin */
/* main nav dimensions */
/* footer height */
/* z-index */
/* font sizes and line heights */
/* usually 16px */
/* for tablet and desktop, 18px */
/* mobile typescale based on major second scale (base of 100%)
 * see/try it on type-scale.com
 */
/* 28.83px */
/* 18.00px */
/* tablet and desktop typescale based on perfect fourth */
/* 54.93px */
/* 22.50px */
/* 16px */
/* very light gray */ /* Styles/mixins for buttons */
.submitBtn {
  display: inline-block;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.2s;
  box-shadow: #dcd9d6 0px 8px 24px;
  font-family: inherit;
}
.submitBtn:hover {
  background-color: #d9d9d9;
}

.submitBtn {
  /* customized from https://uiverse.io/detail/adamgiebl/smart-moth-68 */
  background-color: #003c66;
  color: #fff;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  font-size: 1.266rem;
}
@media screen and (min-width: 767px) {
  .submitBtn {
    font-size: 1.25rem;
  }
}
.submitBtn:hover {
  background-color: #0077cc;
}
.submitBtn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
.submitBtn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
.submitBtn:hover span {
  transform: translateX(5em);
}
.submitBtn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.submitBtn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.submitBtn:active {
  transform: scale(0.95);
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

.hero {
  height: auto;
  padding: 1.3rem 2.2rem 2.3rem;
  background-color: #ffcc99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
}
@media screen and (min-width: 767px) {
  .hero {
    padding: 1.6rem 2.6rem 2.5rem;
  }
}
@media screen and (min-width: 1023px) {
  .hero {
    padding: 1.4rem 3rem 2.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 1.4rem 3.3rem 3.2rem;
  }
}

.title {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.4rem;
}
@media screen and (min-width: 767px) {
  .title {
    font-size: 58px;
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 1023px) {
  .title {
    font-size: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    font-size: 68px;
    margin-bottom: 0.6rem;
  }
}

.summary {
  font-size: 1.3rem;
  margin-top: 1.1rem;
}
@media screen and (min-width: 767px) {
  .summary {
    font-size: 1.35rem;
    margin-top: 1.3rem;
  }
}
@media screen and (min-width: 1023px) {
  .summary {
    font-size: 1.4rem;
    margin-top: 1.38rem;
  }
}
@media screen and (min-width: 1280px) {
  .summary {
    font-size: 1.5rem;
    margin-top: 1.55rem;
  }
}

.codeCard {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.codeCardLabel {
  font-size: 1.953rem;
}

.codeCardLogo {
  width: 90%;
}

/*# sourceMappingURL=About.module.css.map */
