/* Gray */
/* navlink active */
/* navlink hover */
/* navbar/footer bg */
/* Blue */
/* footer line break */
/* Indigo */
/* Orange */
/* Turquoise */
/* Violet */
/* Goldenrod */
/* Pink */
/* Red */
/* Other/special */
/* site is mobile first
 * mobile design/layout is coded first
 */
/* media queries */
/* margin */
/* main nav dimensions */
/* footer height */
/* z-index */
/* font sizes and line heights */
/* usually 16px */
/* for tablet and desktop, 18px */
/* mobile typescale based on major second scale (base of 100%)
 * see/try it on type-scale.com
 */
/* 28.83px */
/* 18.00px */
/* tablet and desktop typescale based on perfect fourth */
/* 54.93px */
/* 22.50px */
/* 16px */
/* very light gray */
/* Styles/mixins for buttons */
.submitBtn {
  display: inline-block;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.2s;
  box-shadow: #dcd9d6 0px 8px 24px;
  font-family: inherit;
}
.submitBtn:hover {
  background-color: #d9d9d9;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 0rem 2rem 1.7rem;
  background-color: #aabbb4;
}
@media screen and (min-width: 767px) {
  .form {
    padding: 0rem 2.5rem 1.7rem;
  }
}
@media screen and (min-width: 1023px) {
  .form {
    padding: 0rem 2.7rem 1.7rem;
  }
}
@media screen and (min-width: 767px) {
  .form {
    padding: 0rem 2.5rem 1.7rem;
  }
}

.form > div, .form > input {
  margin-bottom: 1rem;
}

.longInput, .shortInput {
  border: solid 2px #003c66;
  border-radius: 13px;
  background-color: #fff;
  width: 100%;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 8px 7px;
  margin: 0.5rem 0rem 0.25rem;
  place-self: center;
}
.longInput:focus, .shortInput:focus {
  outline: none;
  border-color: #0077cc;
}

.label {
  font-size: 1.35rem;
  cursor: text;
}

.inputGroup {
  width: 100%;
  display: grid;
}
@media screen and (min-width: 820px) {
  .inputGroup {
    width: 90%;
  }
}
@media screen and (min-width: 1023px) {
  .inputGroup {
    width: 80%;
  }
}
@media screen and (min-width: 1280px) {
  .inputGroup {
    width: 70%;
  }
}
@media screen and (min-width: 1440px) {
  .inputGroup {
    width: 60%;
  }
}

.shortInput {
  height: 40px;
}

.longInput {
  height: 200px;
  resize: none;
}
@media screen and (min-width: 767px) {
  .longInput {
    height: 180px;
  }
}
@media screen and (min-width: 1023px) {
  .longInput {
    height: 170px;
  }
}

.submitBtn {
  /* customized from https://uiverse.io/detail/cssbuttons-io/stale-rattlesnake-87 */
  margin-top: 10px;
  padding: 0.45em 1.2em;
  letter-spacing: 0.2px;
  color: #000;
  background-color: #fff;
  border: solid 2px #003c66;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-size: 1.45rem;
}
.submitBtn:hover {
  box-shadow: 0px 15px 20px #7da0bd;
  background-color: #003c66;
  color: #fff;
  transform: translateY(-7px);
}
.submitBtn:active {
  transform: translateY(-1px);
  background-color: #005a99;
}

/*# sourceMappingURL=Contact.module.css.map */
