/* Gray */
/* navlink active */
/* navlink hover */
/* navbar/footer bg */
/* Blue */
/* footer line break */
/* Indigo */
/* Orange */
/* Turquoise */
/* Violet */
/* Goldenrod */
/* Pink */
/* Red */
/* Other/special */
/* site is mobile first
 * mobile design/layout is coded first
 */
/* media queries */
/* padding */
/* margin */
/* main nav dimensions */
/* footer height */
/* z-index */
/* font sizes and line heights */
/* usually 16px */
/* for tablet and desktop, 18px */
/* mobile typescale based on major second scale (base of 100%)
 * see/try it on type-scale.com
 */
/* 28.83px */
/* 18.00px */
/* tablet and desktop typescale based on perfect fourth */
/* 54.93px */
/* 22.50px */
/* 16px */
/* very light gray */
/* Styles/mixins for buttons */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Ubuntu&display=swap");
.submitBtn {
  display: inline-block;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.2s;
  box-shadow: #dcd9d6 0px 8px 24px;
  font-family: inherit;
}
.submitBtn:hover {
  background-color: #d9d9d9;
}

.submitBtn {
  /* customized from https://uiverse.io/detail/adamgiebl/smart-moth-68 */
  background-color: #003c66;
  color: #fff;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  font-size: 1.266rem;
}
@media screen and (min-width: 767px) {
  .submitBtn {
    font-size: 1.25rem;
  }
}
.submitBtn:hover {
  background-color: #0077cc;
}
.submitBtn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
.submitBtn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
.submitBtn:hover span {
  transform: translateX(5em);
}
.submitBtn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.submitBtn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.submitBtn:active {
  transform: scale(0.95);
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", "Trebuchet MS", "Segoe UI", Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #000;
  font-size: 100%;
  height: 100%;
}
@media screen and (min-width: 767px) {
  html,
body {
    font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: 3.5rem;
  padding-bottom: 100px;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  main {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1023px) {
  main {
    padding-top: 3.65rem;
  }
}
@media screen and (min-width: 1280px) {
  main {
    padding-top: 3.75rem;
  }
}

.underlineDeco {
  height: 7px;
  width: 180px;
  margin: auto;
}
@media screen and (min-width: 767px) {
  .underlineDeco {
    width: 220px;
    height: 7.5px;
  }
}
@media screen and (min-width: 1023px) {
  .underlineDeco {
    width: 300px;
    height: 8px;
  }
}

.white {
  background-color: #fff;
}

.turquoise {
  background-color: #186868;
}

.pink {
  background-color: #f1978e;
}

.eggplant {
  background-color: #785469;
}

.navy {
  background-color: #003366;
}

/*# sourceMappingURL=globals.css.map */
