/* Gray */
/* navlink active */
/* navlink hover */
/* navbar/footer bg */
/* Blue */
/* footer line break */
/* Indigo */
/* Orange */
/* Turquoise */
/* Violet */
/* Goldenrod */
/* Pink */
/* Red */
/* Other/special */
/* site is mobile first
 * mobile design/layout is coded first
 */
/* media queries */
/* margin */
/* main nav dimensions */
/* footer height */
/* z-index */
/* font sizes and line heights */
/* usually 16px */
/* for tablet and desktop, 18px */
/* mobile typescale based on major second scale (base of 100%)
 * see/try it on type-scale.com
 */
/* 28.83px */
/* 18.00px */
/* tablet and desktop typescale based on perfect fourth */
/* 54.93px */
/* 22.50px */
/* 16px */
/* very light gray */
/* Styles/mixins for buttons */
.hero {
  position: relative;
}

.heroImg {
  background-image: url(/homeHero.png);
  background-position: left 25% top 25%;
  opacity: 30%;
  height: 300px;
}
@media screen and (max-width: 375px) {
  .heroImg {
    height: 330px;
  }
}
@media screen and (min-width: 767px) {
  .heroImg {
    background-position: 10% center;
  }
}
@media screen and (min-width: 1023px) {
  .heroImg {
    height: 400px;
    background-position: center;
  }
}

.heroText {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  padding: 3rem 2.1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .heroText {
    padding: 3.8rem 2.2em;
  }
}
@media screen and (min-width: 1023px) {
  .heroText {
    padding: 5.5rem 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .heroText {
    padding: 5rem 3rem;
  }
}

#name {
  text-transform: uppercase;
  padding: 0px;
  font-size: 2.9rem;
  letter-spacing: 1px;
}
@media screen and (min-width: 767px) {
  #name {
    font-size: 60px;
    letter-spacing: 1.2px;
  }
}
@media screen and (min-width: 1023px) {
  #name {
    font-size: 75px;
  }
}
@media screen and (min-width: 1280px) {
  #name {
    font-size: 85px;
  }
}
@media screen and (min-width: 1440px) {
  #name {
    font-size: 90px;
  }
}

#summary {
  font-size: 1.28rem;
}
@media screen and (min-width: 767px) {
  #summary {
    font-size: 1.45rem;
  }
}
@media screen and (min-width: 1023px) {
  #summary {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) {
  #summary {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1440px) {
  #summary {
    font-size: 1.8rem;
  }
}

.seeAlso {
  background-color: #ff9933;
  display: grid;
  justify-content: space-evenly;
  padding-bottom: 3.2em;
}
@media screen and (min-width: 1023px) {
  .seeAlso {
    grid-template-columns: repeat(3, 1fr);
    padding: 0em 0.8em 3.2em;
  }
}

.pageCard {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color, border-color, background-color 0.25s;
  width: 75vw;
  height: 310px;
  background-color: #fff;
  border-radius: 15px;
  margin: 3.2em 2em 0em;
  border: solid 8px #004b66;
  box-shadow: #000 0px 3px 8px;
  position: relative;
  color: #004b66;
}
.pageCard a {
  width: calc(100% + 16px);
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: absolute;
  padding: 0.5em 1.1em 0.7em;
}
@media screen and (min-width: 1023px) {
  .pageCard a {
    padding: 0.4em 1.1em 0.6em;
  }
}
@media screen and (min-width: 1440px) {
  .pageCard a {
    padding: 0.3em 0.5em 0.5em;
  }
}
.pageCard h2, .pageCard h3 {
  color: #000;
}
@media screen and (min-width: 767px) {
  .pageCard {
    width: 60vw;
    height: 350px;
  }
}
@media screen and (min-width: 1023px) {
  .pageCard {
    width: auto;
    height: 375px;
    margin: 3.5em 1.5em 0em;
  }
}
@media screen and (min-width: 1440px) {
  .pageCard {
    margin: 3.6em 1.9em 0em;
  }
}
.pageCard:hover {
  background-color: #004b66;
  border-color: #fff;
}
.pageCard:hover h2, .pageCard:hover h3, .pageCard:hover svg {
  color: #fff;
}

.cardTitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
}
@media screen and (min-width: 767px) {
  .cardTitle {
    font-size: 3.052rem;
  }
}
@media screen and (min-width: 1023px) {
  .cardTitle {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .cardTitle {
    font-size: 3.052rem;
  }
}

.cardDesc {
  font-size: 1.424rem;
  font-weight: normal;
}
@media screen and (min-width: 767px) {
  .cardDesc {
    font-size: 1.563rem;
  }
}
@media screen and (min-width: 1440px) {
  .cardDesc {
    font-size: 1.953rem;
  }
}

.pageIcon {
  width: 40%;
  position: relative;
  z-index: 500;
  color: inherit;
}
@media screen and (min-width: 1023px) {
  .pageIcon {
    width: 70%;
  }
}
@media screen and (min-width: 1440px) {
  .pageIcon {
    width: 100%;
  }
}
