/* Gray */
/* navlink active */
/* navlink hover */
/* navbar/footer bg */
/* Blue */
/* footer line break */
/* Indigo */
/* Orange */
/* Turquoise */
/* Violet */
/* Goldenrod */
/* Pink */
/* Red */
/* Other/special */
/* site is mobile first
 * mobile design/layout is coded first
 */
/* media queries */
/* margin */
/* main nav dimensions */
/* footer height */
/* z-index */
/* font sizes and line heights */
/* usually 16px */
/* for tablet and desktop, 18px */
/* mobile typescale based on major second scale (base of 100%)
 * see/try it on type-scale.com
 */
/* 28.83px */
/* 18.00px */
/* tablet and desktop typescale based on perfect fourth */
/* 54.93px */
/* 22.50px */
/* 16px */
/* very light gray */
/* Styles/mixins for buttons */
#hero {
  background-color: #212738;
  color: #fff;
}

.gallery {
  background-color: #212738;
  padding: 0rem 2.1rem 2.9rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
@media screen and (min-width: 1023px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    row-gap: 3.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .gallery {
    row-gap: 3.5rem;
  }
}

.galleryItem {
  background-color: #c7d1ce;
  border-radius: 8px;
  border: solid 2px #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 440px;
  margin: 0 auto;
}
@media screen and (max-width: 350px) {
  .galleryItem {
    height: 600px;
  }
}
@media screen and (min-width: 590px) {
  .galleryItem {
    width: 80%;
  }
}
@media screen and (min-width: 767px) {
  .galleryItem {
    width: 70%;
  }
}
@media screen and (min-width: 1023px) {
  .galleryItem {
    width: 90%;
  }
}
@media screen and (min-width: 1440px) {
  .galleryItem {
    width: 75%;
  }
}
.galleryItem:hover .previewContainer {
  opacity: 0;
}
.galleryItem:hover .viewOn, .galleryItem:hover .itemDescription {
  z-index: 300;
}

.itemHeader {
  padding: 0.75rem 1.5rem;
  background-color: #999999;
  border-radius: 8px 8px 0px 0px;
  border-bottom: solid 1px #000;
  z-index: 300;
}

.itemTitle {
  font-size: 1.2rem;
}
@media screen and (min-width: 590px) {
  .itemTitle {
    font-size: 1.45rem;
  }
}

.itemDescription {
  font-size: 1.05rem;
  padding: 0.8rem 1.5rem;
  line-height: 1.45;
}
@media screen and (max-width: 350px) {
  .itemDescription {
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 590px) {
  .itemDescription {
    font-size: 1.2rem;
  }
}
.itemDescription p:nth-child(2), .itemDescription p:nth-child(3) {
  margin-top: 0.4rem;
}
.itemDescription a {
  text-decoration: underline;
  color: #00698f;
  transition: color 0.3s;
}
.itemDescription a:hover {
  color: #00384d;
}

.viewOn {
  width: 100%;
  display: flex;
  border-radius: 0px 0px 8px 8px;
  border: solid 1px #000;
  background-color: #ffb833;
  height: 45px;
}

.leftLink {
  border-right: solid 1px #000;
  border-radius: 0px 0px 0px 8px;
}

.rightLink {
  border-radius: 0px 0px 8px 0px;
}

.viewOnLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
  width: 100%;
  height: 100%;
  font-size: 1.18rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  transition: background-color 0.25s;
  padding: 0.4rem;
}
.viewOnLink:hover {
  background-color: #ff8c1a;
}

.tags {
  height: 45px;
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  column-gap: 6px;
  align-items: center;
  cursor: grab !important;
}
.tags::-webkit-scrollbar {
  display: none;
}

.tag {
  margin-top: 4px;
  font-size: 1.02rem;
  width: fit-content;
  padding: 0.3rem 0.45rem;
  border-radius: 13.5px;
  background-color: #000;
  color: #fff;
  transition: background-color 0.3s !important;
}
.tag:hover {
  background-color: #333333;
}
.tag:active {
  background-color: #524d47;
}
@media screen and (min-width: 767px) {
  .tag {
    font-size: 1.12rem;
  }
}

.previewContainer {
  position: absolute;
  top: 48px;
  height: calc(100% - 48px);
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  transition: opacity 0.6s ease;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 590px) {
  .previewContainer {
    top: 53px;
    height: calc(100% - 53px);
  }
}

.seeAlsoLink {
  background-color: #fff;
  color: #000;
  border: solid 1px #151a1e;
  padding: 1.5rem;
  text-align: center;
}
.seeAlsoLink:hover {
  background-color: #f18e8e;
}

#mdn {
  background-image: url("/preview/mdn.png");
}

#quetudesinfo {
  background-image: url("/preview/quetudesinfo.png");
}

#wellfood {
  background-image: url("/preview/wellfood.png");
}

#comedinewithus {
  background-image: url("/preview/comedinewithus.png");
}

#ecotrack {
  background-image: url("/preview/ecotrack.png");
}

#cs50 {
  background-image: url("/preview/cs50.png");
}
