.topbar {
  background-color: #333333;
  color: #fff;
  border-bottom: solid #fff 2px;
  position: fixed;
  top: 0;
  width: 100vw;
  font-size: 1.6rem;
  letter-spacing: 0.2px;
  font-weight: bold;
  z-index: 999;
  padding-right: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* mobile height */
  height: 3.5rem;
}
@media screen and (min-width: 767px) {
  .topbar {
    height: 3.55rem;
    font-size: 1.8rem;
    letter-spacing: 0.75px;
  }
}
@media screen and (min-width: 1023px) {
  .topbar {
    height: 3.65rem;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .topbar {
    height: 3.75rem;
  }
}

#nameBrand {
  text-transform: uppercase;
  margin-left: 0.45rem;
}

#profileIcon {
  border-radius: 50%;
  border: solid #a09992 1px !important;
}

#thanksHero {
  background-color: #d9f2d9;
  color: #000;
}

.title {
  text-transform: none;
  line-height: 1.1;
  margin: 0.8rem 0 1.2rem;
}
@media screen and (min-width: 767px) {
  .title {
    margin: 1rem 0 1.4rem;
  }
}
@media screen and (min-width: 1023px) {
  .title {
    margin: 1.2rem 0 1.6rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.checkerboard {
  width: 100vw;
  background-color: #d9f2d9;
  box-shadow: #000 0px 3px 8px;
  display: grid;
}
@media screen and (min-width: 590px) {
  .checkerboard {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1023px) {
  .checkerboard {
    grid-template-columns: repeat(4, 1fr);
  }
}

.checkerSquare {
  width: 100%;
  height: 220px;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color, background-color 0.35s;
  padding: 1.5rem;
  text-align: center;
}
.checkerSquare:nth-child(odd) {
  background-color: #d3ded9;
}
.checkerSquare:nth-child(odd):hover {
  background-color: #cca300;
  color: #000;
}
.checkerSquare:nth-child(even) {
  background-color: #49a6b6;
}
.checkerSquare:nth-child(even):hover {
  background-color: #1d4249;
  color: #fff;
}
@media screen and (min-width: 590px) {
  .checkerSquare:nth-child(1), .checkerSquare:nth-child(4), .checkerSquare:nth-child(5), .checkerSquare:nth-child(8) {
    background-color: #d3ded9;
  }
  .checkerSquare:nth-child(1):hover, .checkerSquare:nth-child(4):hover, .checkerSquare:nth-child(5):hover, .checkerSquare:nth-child(8):hover {
    background-color: #cca300;
    color: #000;
  }
  .checkerSquare:nth-child(2), .checkerSquare:nth-child(3), .checkerSquare:nth-child(6), .checkerSquare:nth-child(7) {
    background-color: #49a6b6;
  }
  .checkerSquare:nth-child(2):hover, .checkerSquare:nth-child(3):hover, .checkerSquare:nth-child(6):hover, .checkerSquare:nth-child(7):hover {
    background-color: #1d4249;
    color: #fff;
  }
}
@media screen and (min-width: 1023px) {
  .checkerSquare:nth-child(1), .checkerSquare:nth-child(3), .checkerSquare:nth-child(6), .checkerSquare:nth-child(8) {
    background-color: #d3ded9;
  }
  .checkerSquare:nth-child(1):hover, .checkerSquare:nth-child(3):hover, .checkerSquare:nth-child(6):hover, .checkerSquare:nth-child(8):hover {
    background-color: #cca300;
    color: #000;
  }
  .checkerSquare:nth-child(2), .checkerSquare:nth-child(4), .checkerSquare:nth-child(5), .checkerSquare:nth-child(7) {
    background-color: #49a6b6;
  }
  .checkerSquare:nth-child(2):hover, .checkerSquare:nth-child(4):hover, .checkerSquare:nth-child(5):hover, .checkerSquare:nth-child(7):hover {
    background-color: #1d4249;
    color: #fff;
  }
}

.group {
  display: grid;
}
@media screen and (min-width: 767px) {
  .group {
    grid-template-columns: repeat(2, 1fr);
  }
}