/* Fonts */
@import 'https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Ubuntu:wght@450&display=swap';
/* transitions */
/* site is mobile first
 * mobile design/layout is coded first
 */
/* media queries */
/* padding */
/* margin */
/* main card dimensions */
/* main nav dimensions */
/* z-index */
/* site color palette v0 */
/* font sizes and line heights */
/* usually 16px */
/* for tablet and desktop, 18px */
/* mobile typescale based on major second scale (base of 100%)
 * see/try it on type-scale.com
 */
/* 28.83px */
/* 18.00px */
/* tablet and desktop typescale based on perfect fourth */
/* 54.93px */
/* 22.50px */
/* 16px */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  /* scrollbar styles for Firefox */
  scrollbar-color: #6e675f transparent;
  scrollbar-width: thin;
}
@media screen and (min-width: 767px) {
  body {
    font-size: 1rem;
  }
}

button {
  padding: 0px;
}

/* scrollbar styles for Blink and WebKit */
*::-webkit-scrollbar {
  width: 9.5px;
}

*::-webkit-scrollbar:horizontal {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: #7b736b;
  border: 1.5px solid #1a1a1a;
}

.mobile-hidden {
  display: none;
}

h1 {
  font-size: 1.802rem;
}
@media screen and (min-width: 767px) {
  h1 {
    font-size: 2.441rem;
  }
}

h2 {
  font-size: 1.602rem;
}
@media screen and (min-width: 767px) {
  h2 {
    font-size: 1.953rem;
  }
}

h3 {
  font-size: 1.424rem;
}
@media screen and (min-width: 767px) {
  h3 {
    font-size: 1.563rem;
  }
}

a {
  color: #33adff;
}

img {
  border-radius: 4.5px;
}

#binaryRain {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/binaryRain.svg);
  background-repeat: repeat;
  transition: filter 1.6s ease;
  position: absolute;
  z-index: -1;
}

#binaryRain:hover {
  filter: brightness(1.7);
}

#mainCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 20px 5px 5px 20px;
  border: solid 4px #888077;
  z-index: 300;
  overflow: scroll;
  scroll-behavior: smooth;
  /* mobile/default card dimensions */
  width: 85vw;
  height: 91.1vh;
  padding: 0.5rem 1rem 1.75rem;
  /* tablet dimensions */
  /* small desktop (laptop) dimensions */
  /* large desktop dimensions */
  /* x-large desktop dimensions */
}
#mainCard h1, #mainCard h2, #mainCard h3, #mainCard h4, #mainCard h5, #mainCard h6 {
  font-family: "Space Mono", Consolas, monospace;
  color: #fff;
  line-height: 1.2;
}
#mainCard p {
  font-family: Ubuntu, "Trebuchet MS", sans-serif;
  font-size: 1.125rem;
  color: #ccebff;
  padding: 0.25rem;
  line-height: 1.75;
}
@media screen and (min-width: 767px) {
  #mainCard p {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1023px) {
  #mainCard p {
    font-size: 1.563rem;
  }
}
#mainCard label {
  font-family: Ubuntu, "Trebuchet MS", sans-serif;
  color: #ccebff;
  font-size: 1.15rem;
}
@media screen and (min-width: 767px) {
  #mainCard {
    width: 90vw;
    height: 92vh;
    padding: 0.75rem 2rem 1rem;
  }
}
@media screen and (min-width: 820px) {
  #mainCard {
    padding: 1rem 2.4rem 3.6rem;
  }
}
@media screen and (min-width: 1023px) {
  #mainCard {
    width: 95.5vw;
    height: 95.8vh;
    padding: 1rem 2.4rem 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #mainCard {
    width: 94vw;
    height: 92vh;
    padding: 1.25rem 2.8rem 3.25rem;
  }
}
@media screen and (min-width: 1440px) {
  #mainCard {
    height: 91vh;
  }
}
#mainCard .regBtn {
  font-size: 1.125rem;
  font-family: Ubuntu, "Trebuchet MS", sans-serif;
  border-radius: 8px;
  border: solid 2px #000;
  background: #e7e6e4;
  text-align: center;
  transition: box-shadow 0.35s;
}
#mainCard .regBtn a {
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 1022px) {
  #mainCard .regBtn:active {
    background: #ffcc00;
  }
}
@media screen and (min-width: 1023px) {
  #mainCard .regBtn {
    font-size: 1.25rem;
  }
  #mainCard .regBtn:hover {
    box-shadow: inset 6.5em 0 0 0 #ffcc00;
    cursor: pointer;
  }
}
#mainCard .regBtn .btn-link-container {
  padding: 0.5rem 0.9rem;
}
#mainCard img {
  width: 100%;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 767px) {
  #mainCard .reg-img {
    width: 80%;
  }
}
@media screen and (min-width: 1023px) {
  #mainCard .reg-img {
    width: 70%;
  }
}
@media screen and (min-width: 1023px) {
  #mainCard .reg-img {
    width: 60%;
  }
}
@media screen and (min-width: 1280px) {
  #mainCard .reg-img {
    width: 52.5%;
  }
}
#mainCard #landing-container {
  align-items: center;
  align-content: center;
  height: 100%;
}
#mainCard #choose-lang {
  display: grid;
  text-align: center;
  padding: 0.4rem 0.6rem;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  row-gap: 1rem;
  border-top: solid 1px #7b736b;
  border-bottom: solid 1px #7b736b;
}
@media screen and (min-width: 1023px) {
  #mainCard #choose-lang {
    grid-template-areas: ". a a a a ." ". . b c . ." ". . b c . .";
    column-gap: 2rem;
  }
  #mainCard #choose-lang button {
    width: auto;
    height: max-content;
  }
  #mainCard #choose-lang button:hover {
    box-shadow: none;
    background: #009900;
  }
  #mainCard #choose-lang p {
    grid-area: a;
  }
  #mainCard #choose-lang p ~ button {
    grid-area: b;
  }
  #mainCard #choose-lang button ~ button {
    grid-area: c;
  }
}
#mainCard #choose-lang ~ p a {
  text-decoration: none;
}
#mainCard #choose-lang ~ p a:hover {
  text-decoration: revert;
}
#mainCard .img-centered {
  margin: 0.7rem auto;
  display: block;
}
@media screen and (min-width: 767px) {
  #mainCard .md-img {
    width: 75%;
  }
}
@media screen and (min-width: 767px) {
  #mainCard .lg-img {
    width: 85%;
  }
}
@media screen and (min-width: 1023px) {
  #mainCard .lg-img {
    width: 80%;
  }
}
#mainCard .mt-1 {
  margin-top: 0.25rem;
}
#mainCard .mt-2 {
  margin-top: 0.5rem;
}
#mainCard .mt-3 {
  margin-top: 0.75rem;
}
#mainCard .mt-4 {
  margin-top: 1rem;
}
#mainCard .mt-5 {
  margin-top: 1.25rem;
}
#mainCard .mb-1 {
  margin-bottom: 0.25rem;
}
#mainCard .mb-2 {
  margin-bottom: 0.5rem;
}
#mainCard .mb-3 {
  margin-bottom: 0.75rem;
}
#mainCard .mb-4 {
  margin-bottom: 1rem;
}
#mainCard .mb-5 {
  margin-bottom: 1.25rem;
}
#mainCard .align-center {
  text-align: center;
}
#mainCard .align-right {
  text-align: right;
}
#mainCard .grid-container {
  display: grid;
}
#mainCard .grid-container .img-right {
  justify-self: right;
}
#mainCard .light-gray-shadow {
  box-shadow: 0 0 6.5px 3px #888077;
}
#mainCard #home-icons {
  grid-template-areas: ". b . d" "a b c d" "a b c d" "a . c .";
}
#mainCard #home-icons #math-icon {
  grid-area: a;
}
#mainCard #home-icons #code-icon {
  grid-area: b;
}
#mainCard #home-icons #tech-icon {
  grid-area: c;
}
#mainCard #home-icons #science-icon {
  grid-area: d;
}
#mainCard #profile-header {
  border: solid 2px #009900;
}
#mainCard #contact {
  margin-bottom: 1.5rem;
}
#mainCard #contact h1 > a {
  color: #fff;
}
@media screen and (min-width: 1023px) {
  #mainCard #contact p {
    font-size: 1.25rem;
  }
}
#mainCard #contact a {
  text-decoration: none;
}
#mainCard #contact a:hover {
  text-decoration: revert;
}
@media screen and (min-width: 767px) {
  #mainCard #contact #contact-form {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
#mainCard #contact #contact-form #name-email {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0.75rem;
}
#mainCard #contact #contact-form #name-email input {
  width: 100%;
  margin-top: 0.75rem;
}
@media screen and (max-width: 766px) {
  #mainCard #contact #contact-form #message-input {
    margin-top: 0.75rem;
  }
}
#mainCard #contact #contact-form textarea#message {
  resize: none;
  width: 100%;
  height: calc(100% - 1.15rem - 0.75rem);
  margin-top: 0.75rem;
}
#mainCard #contact #contact-form input, #mainCard #contact #contact-form textarea {
  font-size: 1.15rem;
  font-family: Ubuntu, "Trebuchet MS", sans-serif;
  border: solid 2px #33adff;
  border-radius: 3px;
  padding: 0.11rem;
}
@media screen and (min-width: 767px) {
  #mainCard #contact #contact-form input, #mainCard #contact #contact-form textarea {
    padding: 0.25rem;
  }
}
#mainCard #contact #submit-form {
  display: flex;
  justify-content: center;
}
#mainCard #contact #submit-form input[type=submit] {
  margin-top: 1.5rem;
  padding: 0.5rem 0.9rem;
}

#mainNav {
  background: #262626;
  z-index: 9999;
  width: 100vw;
  position: fixed;
  bottom: 0;
  outline: #888077 3px solid;
  color: #fff;
  font-family: Ubuntu, "Trebuchet MS", sans-serif;
  font-size: 1.125rem;
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  align-items: center;
  /* mobile height */
  height: 3.4rem;
  /* tablet dimensions */
  /* small desktop (laptop) dimensions */
  /* large desktop dimensions */
  /* x-large desktop dimensions */
}
#mainNav > div {
  display: flex;
  flex-wrap: wrap;
}
#mainNav a {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 767px) {
  #mainNav {
    height: 2.9rem;
    font-size: 1.25rem;
    grid-template-columns: 1.6fr 2.4fr;
  }
}
@media screen and (min-width: 820px) {
  #mainNav {
    grid-template-columns: 1.52fr 2.48fr;
  }
}
@media screen and (min-width: 1023px) {
  #mainNav {
    height: 3.85rem;
    font-size: 1.45rem;
    grid-template-columns: 1.75fr 2.25fr;
  }
}
@media screen and (min-width: 1280px) {
  #mainNav {
    height: 3.75rem;
  }
}
@media screen and (min-width: 1440px) {
  #mainNav {
    grid-template-columns: 2fr 2fr;
  }
}
#mainNav #profile-pic {
  height: 2.5rem;
}
@media screen and (min-width: 767px) {
  #mainNav #profile-pic {
    height: 2.2rem;
  }
}
@media screen and (min-width: 1023px) {
  #mainNav #profile-pic {
    height: 3.1rem;
  }
}
#mainNav #navProfile {
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.3rem;
}
@media screen and (min-width: 767px) {
  #mainNav #navProfile {
    padding-left: 0.25rem;
  }
}
#mainNav #navProfile #profile-pic {
  filter: brightness(1.1);
}
#mainNav #navProfile #profile-pic:hover {
  filter: brightness(1.25);
}
#mainNav #navProfile #copyright {
  font-weight: 450;
  font-size: 1.266rem;
  padding: 0.4rem;
}
#mainNav #navProfile #copyright:hover {
  color: #33adff;
}
@media screen and (min-width: 767px) {
  #mainNav #navProfile #copyright {
    padding: 0.5rem;
  }
}
#mainNav #navProfile #changeLang {
  padding: 0;
  font-size: 1.15rem;
  font-family: Ubuntu, "Trebuchet MS", sans-serif;
  background: #e7e6e4;
  border-radius: 5px;
  border: 0px;
  transition: box-shadow 0.35s;
}
#mainNav #navProfile #changeLang a {
  text-decoration: none;
  color: inherit;
}
#mainNav #navProfile #changeLang:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 2em #5f5a53;
  color: white;
}
#mainNav #navProfile #changeLang:active {
  background: #888077;
}
#mainNav #navProfile #changeLang #langWrapper {
  padding: 0.2rem 0.4rem;
  border: solid 2px #5f5a53;
  border-radius: 5px;
}
#mainNav #navProfile #changeLang #langWrapper:hover {
  border: solid 2px #e7e6e4;
}
@media screen and (min-width: 767px) {
  #mainNav #navProfile #changeLang #langWrapper {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1023px) {
  #mainNav #navProfile #changeLang #langWrapper {
    padding: 0.3rem 0.6rem;
  }
}
@media screen and (min-width: 1023px) {
  #mainNav #navProfile #changeLang #langWrapper {
    padding: 0.4rem 0.65rem;
  }
}
@media screen and (min-width: 767px) {
  #mainNav #navProfile #changeLang #mobileLang {
    display: none;
  }
}
#mainNav #navProfile #changeLang #lang {
  display: none;
}
@media screen and (min-width: 767px) {
  #mainNav #navProfile #changeLang #lang {
    display: inline;
  }
}
#mainNav #navLinks {
  display: grid;
  grid-template-columns: repeat(4, auto);
  height: 100%;
  text-align: center;
}
#mainNav #navLinks li {
  list-style: none;
  display: inline-block;
}
#mainNav #navLinks li:hover {
  background: #6e675f;
}
#mainNav #navLinks li.nav-active {
  background: #000;
}
#mainNav #navLinks li a {
  width: 100%;
  height: 100%;
}
#mainNav #navLinks li a .link-container {
  height: 3.4rem;
  line-height: 3.4rem;
}
@media screen and (min-width: 767px) {
  #mainNav #navLinks li a .link-container {
    height: 2.9rem;
    line-height: 2.9rem;
    border-left: solid 0.8px #1a1a1a;
  }
}
@media screen and (min-width: 1023px) {
  #mainNav #navLinks li a .link-container {
    height: 3.85rem;
    line-height: 3.85rem;
  }
}
@media screen and (min-width: 1280px) {
  #mainNav #navLinks li a .link-container {
    height: 3.75rem;
    line-height: 3.75rem;
  }
}
#mainNav #navLinks li img {
  margin-top: 0.1rem;
}
@media screen and (min-width: 767px) {
  #mainNav #navLinks li img {
    margin-right: 0.3rem;
  }
}
@media screen and (min-width: 1023px) {
  #mainNav #navLinks li img {
    margin-right: 0.35rem;
  }
}
@media screen and (min-width: 767px) {
  #mainNav span.mobile-hidden {
    display: inline;
  }
}

code {
  font-family: Consolas, monospace;
}

/*# sourceMappingURL=style.css.map */
