@use './vars';

#binaryRain {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/binaryRain.svg);
    background-repeat: repeat;
    transition: filter 1.6s ease;
}

#binaryRain:hover {
    filter: brightness(1.7);
}
