@use './vars' as *;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: $mobile-base-font-size;

  @media screen and (min-width: $tablet-starts) {
    font-size: $base-font-size;
  }
}

.mobile-hidden {
  display: none;
}

h1 {
  font-size: $mobile-xxl-font-size;

  @media screen and (min-width: $tablet-starts) {
    font-size: $xl-font-size;
  }
}

h2 {
  font-size: $mobile-xl-font-size;

  @media screen and (min-width: $tablet-starts) {
    font-size: $lg-font-size;
  }
}

h3 {
  font-size: $mobile-lg-font-size;

  @media screen and (min-width: $tablet-starts) {
    font-size: $md-font-size;
  }
}

#binaryRain {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/binaryRain.svg);
  background-repeat: repeat;
  transition: filter 1.6s ease;
  position: absolute;
  z-index: $send-to-back;
}

#binaryRain:hover {
  filter: brightness(1.7);
}

#mainCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $gray-700;
  border-radius: 20px;
  border: solid 4px $gray-300;
  z-index: $top-layer;

  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    color: $heading-text-color;
  }

  p {
    font-family: $site-font-family;
    color: $text-color;
  }

  /* mobile/default card dimensions */
  width: $mobile-card-width;
  height: $mobile-card-height;
  padding: $mobile-card-padding;

  /* tablet dimensions */
  @media screen and (min-width: $tablet-starts) {
    width: $tablet-card-width;
    height: $tablet-card-height;
    padding: $tablet-card-padding;
  }

  /* small desktop (laptop) dimensions */
  @media screen and (min-width: $sm-desktop-starts) {
    width: $sm-desktop-card-width;
    height: $sm-desktop-card-height;
    padding: $sm-desktop-card-padding;
  }

  /* large desktop dimensions */
  @media screen and (min-width: $lg-desktop-starts) {
    width: $lg-desktop-card-width;
    height: $lg-desktop-card-height;
    padding: $lg-desktop-card-padding;
  }
  
  /* x-large desktop dimensions */
  @media screen and (min-width: $xl-desktop-starts) {
    height: $xl-desktop-card-height;
  }
}

#mainNav {
  background: $gray-800;
  z-index: $bring-to-front;
  width: 100vw;
  position: fixed;
  bottom: 0;
  outline: $gray-300 3px solid;
  color: $secondary-text-color;
  font-family: $site-font-family;
  font-size: $mobile-sm-font-size;

  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  align-items: center;
  
  > div {
    display: flex;
    flex-wrap: wrap;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  /* mobile height */
  height: 3.4rem;

  /* tablet dimensions */
  @media screen and (min-width: $tablet-starts) {
    height: 2.9rem;
    font-size: $sm-font-size;
    grid-template-columns: 1.6fr 2.4fr;
  }

  @media screen and (min-width: $lg-tablet-starts) {
    grid-template-columns: 1.52fr 2.48fr;
  }

  /* small desktop (laptop) dimensions */
  @media screen and (min-width: $sm-desktop-starts) {
    height: 3.85rem;
    font-size: 1.45rem;
    grid-template-columns: 1.75fr 2.25fr;
  }

  /* large desktop dimensions */
  @media screen and (min-width: $lg-desktop-starts) {
    height: 3.75rem;
  }

  /* x-large desktop dimensions */
  @media screen and (min-width: $xl-desktop-starts) {
    grid-template-columns: 2fr 2fr;
  }

  #profile-pic {
    height: 2.5rem;

    @media screen and (min-width: $tablet-starts) {
      height: 2.2rem;
    }

    @media screen and (min-width: $sm-desktop-starts) {
      height: 3.1rem;
    }
  }

  #navProfile {
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.3rem;

    @media screen and (min-width: $tablet-starts) {
      padding-left: 0.25rem;
    }

    #copyright {
      font-weight: 450;
      font-size: $mobile-md-font-size;
      padding: 0.4rem;

      &:hover {
        color: $link-color;
      }

      @media screen and (min-width: $tablet-starts) {
        padding: 0.5rem;
      }
    }
  }

  #navLinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    text-align: center;
    
    li {
      list-style: none;
      display: inline-block;

      &:hover {
        background: $gray-500;
      }

      a {
        width: 100%;
        height: 100%;
        
        .link-container {
          height: $mobile-nav-height;
          line-height: $mobile-nav-height;

          @media screen and (min-width: $tablet-starts) {
            height: $tablet-nav-height;
            line-height: $tablet-nav-height;
            border-left: solid 0.7px $gray-850;
          }

          @media screen and (min-width: $sm-desktop-starts) {
            height: $sm-desktop-nav-height;
            line-height: $sm-desktop-nav-height;
          }

          @media screen and (min-width: $lg-desktop-starts) {
            height: $lg-desktop-nav-height;
            line-height: $lg-desktop-nav-height;
          }
        }
      }
      
      img {
        margin-top: 0.1rem;

        @media screen and (min-width: $tablet-starts) {
          margin-right: 0.3rem;
        }
        
        @media screen and (min-width: $sm-desktop-starts) {
          margin-right: 0.35rem;
        }
      }
    }
  }

  span.mobile-hidden {
    @media screen and (min-width: $tablet-starts) {
      display: inline;
    }
  }
}

code {
  font-family: $code-font-family;
}
